body{
    background-color: #ccc;
    color: #333;
    font-family: "Helvetica", "Arial", "serif";
}

h1{
    color: #333;
    background-color: transparent;
    margin: 20px;
}

a{
    color: #c60;
    font-weight: bold;
    text-decoration: none;
}

body>p{
    font-family: "American Typewriter";
}

table{
    margin:auto;
    border: 1px solid #699;
}

caption{
    margin: auto;
    padding: .2em;
    font-size: 1.2em;
    font-weight: bold;
}

th{
    font-weight:normal;
    font-style: italic;
    text-align: left;
    border: 1px dotted #699;
    background-color: #9cc;
}

th, td{
    width:10em;
    padding: .5em;
}

.blank{
    font-size: 40px;
}